
<!-- Footer -->
<footer class="page-footer font-small blue  card card-body " style="background-color:rgba(255,255,255,0.6);">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 ">
  
          <!-- Content -->
          <h5 class="text-weight-bold text-dark">Contactanos!</h5>
         
          <div class="row">  </div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="card card-body mr-4  col-md-3 mb-md-0 mb-3" style="background-color:rgba(0,0,0,0.5);">
  
          <!-- Links -->
          <h5 class="text-weight-bold mb-3 text-center text-light">Pepe:</h5>
  
          <ul class="list-unstyled">
            <p class="text-center">
                <a class="btn btn-light mt-1 mr-2" href="https://www.instagram.com/gonzaloaddamo/" ><i class="fab fa-instagram"></i></a>
            
                <a class="btn btn-light mt-1"href="https://github.com/Gonzapepe"><i class="fab fa-github"></i></a>
            </p>
        
      
       
            <p class="text-center">
              <a class="btn btn-light mt-1 mr-2" href="https://www.facebook.com/gonzalo.addamo"><i class="fab fa-facebook"></i></a>
              <a class="btn btn-light mt-1" href="#!"><i class="fab fa-twitter"></i></a>
            </p>
            </ul>
          
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="card card-body col-md-3 mb-md-0 mb-2" style="background-color:rgba(0,0,0,0.5);">
  
          <!-- Links -->
          <h5 class="text-weight-bold text-center text-light mb-3">Sebastian: </h5>
  
          <ul class="list-unstyled">
            <p class="text-center">
              <a class="btn btn-light mt-1  mr-2" href="https://www.instagram.com/sebbas.l/"><i class="fab fa-instagram"></i></a>
            
              <a class="btn btn-light mt-1" href="https://github.com/sebbas"><i class="fab fa-github"></i></a>
            </p>
            <p class="text-center">
                <a class="btn btn-light mt-1 mr-2" href="https://www.facebook.com/sebastianista2025"><i class="fab fa-facebook"></i></a>
            
                <a class="btn btn-light mt-1" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
            </p>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center mt-1  text-dark">© 2019 todos los derechos reservados.
      
    </div>
    <!-- Copyright -->
  
  </footer>