<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>




<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">

        <a href="login.php">
          <button class="btn btn-outline-light ml-5" >
            <ion-icon name="contact"></ion-icon>
          </button>
         </a>


 
    <ul class="navbar-nav ml-auto mr-5">
      <!-- HOME -->
      <li class="nav-item active">

       <a href="index.php">
        <button class="btn btn-outline-light">
          <ion-icon name="home"></ion-icon>
        </button>
      </a>

      <!-- ADD -->

        <a href="add.php">
        <button class="btn btn-outline-light">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </a>
      
      <!-- DELETE -->
       <a href="delete.php">
        <button class="btn btn-outline-light">
          <ion-icon name="close"></ion-icon>
        </button>
      </a>

      <!-- EDIT  -->

      <a href="edit.php">
        <button class="btn btn-outline-light">
          <ion-icon name="create"></ion-icon>
        </button>
      </a>

      <!-- CATALOGO -->
      <a href="catalogo.php">
        <button class="btn btn-outline-light">
          <ion-icon name="basket"></ion-icon>
        </button>
      </a>

      </li>
    </ul>
      
  </div>
</nav>




